__pycache__/
*.py[cod]
*.egg-info/
.Python
.venv/
env/
venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
*.parquet
data/
models/
!outputs/
!outputs/models/
!outputs/models/*/
!outputs/models/*/confusion_matrix.png
!outputs/models/*/metrics.json
outputs/models/*/model.pkl
**/model.pkl
.mypy_cache/
.pytest_cache/
docs/
lightning_logs/
